.paginator {
    display: block;
    margin: 10px;
    text-align: center;
}
.pageNumber {
    padding: 2px 7px;
    font-family: RobotoMedium;
    font-size: 15px;
    transition: all .5s ease-out;
}

.pageNumber.selectedPage {
    background-color: #fff;
    /* font-family: RobotoBold; */
    box-shadow: 0 0 8px #9A9A9A;
    font-weight: bold;
}

.pageNumber:hover {
    background-color: #fff;
    box-shadow: 0 0 8px #9A9A9A;
    transition: all .5s ease-out;
}

.paginatorButton {
    margin-bottom: 10px;
    background: none;
    color: #fff;
    font-family: OpenSansSemiBold;
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.2s ease-out;
    text-decoration: none;
    font-size: 15px;
    margin: 0 10px;
    }
    
.paginatorButton:active {
    outline: none;
}
    
.paginatorButton:focus {
    outline: none;
}
    
.paginatorButton:hover {
    background-color: #fff;
    color: #1F2021;
    text-decoration: none;
    box-shadow: 0 0 10px #E7E7E7;
}