.mainLogin {
    width: 19%;
    margin: 100px auto 0 auto;
    padding-bottom: 150px;
}

.titleLogin {
    letter-spacing: 1px;
    text-align: center;
    font-family: OpenSansSemiBold;
    text-transform: uppercase;
    color: #fff;
}

.button {
    margin-top: 15px;
    width: 100%;
    cursor: pointer;
    padding: 8px;
    border-radius: 20px;
    border: none;
    color: white;
    outline: none;
    background-color: #242424;
    transition: 0.2s ease-out;
    font-family: OpenSansSemiBold;
    font-size: 15px;
}

.button:hover {
    outline: none;
    background-color: #fff;
    color: #1F2021;
    font-family: OpenSansSemiBold;
    box-shadow: 0px 0px 5px #242424;
    cursor: pointer;
    transition: 0.2s ease-out;
}